{% extends 'base.html' %}

{% block title %} FAQS{% endblock %}

{% block body %}



<!-- 
<h2> All your questions will be answered here in a few .... <br>
    <br>
    admin is taking some cookies</h1> -->

<div class="accordion" id="faqAccordion">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne">
                What does the soil moisture level indicate?
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show">
            <div class="accordion-body">
                Soil moisture levels indicate the amount of water in the soil. Low levels may require irrigation.
            </div>
        </div>
    </div>
</div>




{% endblock %}